# Core Django & Wagtail
Django==5.1.4
wagtail==6.3.1

# Database
dj-database-url==0.5.0
psycopg2-binary==2.9.10

# Storage & Media
boto3==1.35.90
django-storages==1.14.4
Pillow==11.0.0
Willow==1.6.3
wagtailmedia==0.15.2

# Wagtail dependencies
django-modelcluster==6.3
django-taggit==5.0.1
django-treebeard==4.7.1

# Static files
whitenoise==6.8.2

# Monitoring
sentry-sdk==2.19.2

# Text formatting
smartypants==2.0.1

# Development tools
black==24.10.0
flake8==7.1.1
Faker==32.1.0
