{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<div class="container sm:px-16 px-6 pt-8 max-w-5xl">
    <h1 class="text-5xl avenir font-bold leading-none text-gray-800 pb-6">{{ page.title }}</h1>
    <p class="athelas text-xl py-4 text-gray-600 date-format" data-date="{{ page.date|date:'Y-m-d' }}">
        {{ page.date }}
    </p>

    <div class="copy">
        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h2 class="text-xl pb-4 leading-tight">{{ block.value }}</h2>
            {% elif block.block_type == 'paragraph' %}
                {{ block.value|richtext }}
            {% elif block.block_type == 'image' %}
                {% image block.value width-1600 class="my-2 rounded" %}
            {% elif block.block_type == 'embed' %}
                <div class="my-2">
                    {{ block.value }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
