@import "tailwindcss";

.avenir {
  font-family: "avenir next", avenir, -apple-system, BlinkMacSystemFont,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

.athelas {
  font-family: "Source Serif Pro", athelas, georgia, serif;
}

.copy {
  line-height: 1.5;
  color: #1f2937;
  max-width: 42rem;
  margin-top: 1.25rem;
  font-family: "Source Serif Pro", athelas, georgia, serif;
  font-size: 1.4rem;
}

.copy p {
  margin-top: 1.25rem;
}

.copy p a {
  background-color: #ccfbf1;
}

.date {
  font-size: 1.4rem;
}
